<!DOCTYPE html>
<html lang="en">
<% include partial/head %>
<body>
  <!-- nav bar container and links-->
  <% include partial/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1>Reverse To-do Ninja</h1>
        <h3>heroku</h3>
        <p><a href="http://reversetodo.herokuapp.com">reversetodo.herokuapp.com</a></p>
        <h3>User Stories</h3>
        <p>John is looking for a new to-do list app. He wants something that organizes simple to-do lists in a more logical manner. He wants a site to go to that he can log into and save all his relevant to dos and can access from anywhere.</p>
        <p>George has trouble keeping track of the things he has done. He can never remember if it's his turn to bring the milk and cookies because he can't remember the last time that he did it.</p>
        <p>Artemis has always wanted to create a diary and yet just hasn't gotten around to it. She wants the ability to log into a site and quickly create a diary from the things that she has already done.</p>
        <h3>Scope</h3>
        <p>My app will allow users to easily record things they have done in the past and things would like to complete in the future. My stretch goal is to use the <a href="https://developers.google.com/google-apps/calendar/quickstart/nodejs">Google calendar api</a> to import new users old calendar entries and also edit and add current calendar entries.</p>
        <h3>Wireframes</h3>
        <h4>Landing Page:</h4>
        <p><img alt="Landing Page" src="https://glwx.mybalsamiq.com/mockups/3687112.png?key=38d3f33da80d3605801f3ac72636f6de0be51be3"></p>
        <h4>Main Page:</h4>
        <p><img alt="Main Page" src="https://glwx.mybalsamiq.com/mockups/3687113.png?key=fd9cc39cafacde7e1fa7b9ada8a493b9125e1b04"></p>
        <h3>ERDs</h3>
        <p><img alt="Data Model" src="https://raw.githubusercontent.com/krustacean/project-1/master/planning/erd.jpg"></p>
        <h3>Project Planning</h3>
        <p>Used <a href="https://www.pivotaltracker.com/projects/1455590">Pivotal Tracker</a></p>
        <h3>Stack</h3>
        <ul>
          <li>bcrypt</li>
          <li>body-parser</li>
          <li>dotenv</li>
          <li>ejs</li>
          <li>express</li>
          <li>express-session</li>
          <li>express-favicon</li>
          <li>moment.js</li>
        </ul>
      </div>
    </div>
  </div>
  <% include partial/footer %>
  <% include partial/scripts %>
</body>
</html>
