<!DOCTYPE html>
<html lang="en">
<% include partial/head %>
<body>
  <!-- nav bar container and links-->
  <% include partial/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h2>ToDiary</h2>
        <p>A small reverse to-do list app.</p>
        <p>More Info coming soon. Don't forget to add the readme documentation to this page.</p>
      </div>
    </div>
  </div>
  <% include partial/footer %>
  <% include partial/scripts %>
</body>
</html>
