<!DOCTYPE html>
<html lang="en">
<% include partial/head %>
<body>
  <!-- nav bar container and links-->
  <% include partial/navbar %>
  <% include partial/carousel %>
  <div class="container carousel-bottom">
    <p class="text-center"><a href="/login" class="btn btn-primary btn-lg" role="button">Try It Now</a></p
  </div>
  <% include partial/footer %>
  <% include partial/scripts %>
</body>
</html>
