html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: lightblue;
  margin-bottom: 60px;
  position: relative;
}

ul {
  list-style: none;
}
#user {
  margin-top: 50px;
}

#repeat-button {
  text-decoration-color: none;
}

#past-todos {
  margin-top: 20px;
}

.navbar-header {
  margin-top: auto;
}

.carousel-inner {
  margin-top: 40px;
}

button a {
  color: black;
}

img.first-slide{
  height: 30%;
  margin: 0 auto;
}

.carousel-caption {
  text-shadow:  0 3px 4px rgba(0 , 0, 0, 0.8);
}

.first-slide{
  padding-top: 30px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.g-signin2 {
  align-items: center;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

footer {
  margin-top: 100px;
  margin-bottom: 10px;
}

footer p{
  text-align: center;
}

/* sliding navbar */


      
      pre {
          tab-size: 8;
      }
      
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }