<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="/static/img/ninja_sitting.png" width="40%" style="align:center" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome to RTD Ninja!</h1>
            <p>Hiiiiiyaaaaahhhhhhh!</p>
          </div>
        </div>
      </div>

  </div><!-- /.carousel -->
</div>
